<!DOCTYPE html>
<html>
<head>
  <title>LekkerPlekke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/style.css" media="screen" rel="stylesheet"
 />
 </head>
<body style="margin-left: 20px">

<%= yield %>

</body>
</html>
